NET "clk" LOC = "G6";
NET "rst" LOC = "G12";
NET "en" LOC = "M5";

NET "button" LOC = "A7";

NET "hs" LOC = "G6";
NET "vs" LOC = "G12";

NET "R_out<0>" LOC = "C14";
NET "R_out<1>" LOC = "D13";
NET "R_out<2>" LOC = "F13";

NET "G_out<0>" LOC = "F14";
NET "G_out<1>" LOC = "G13";
NET "G_out<2>" LOC = "G14";

NET "B_out<0>" LOC = "H13";
NET "B_out<1>" LOC = "J13";